
.margin{
    margin-bottom: 50px;
}
.container p{
    margin-bottom: 20px;
}
.fixed{
    table-layout: fixed;
}
.okBtn,.cBtn{display: none;}
.edit .okBtn,.edit .cBtn{display: inline-block;}
.edit .editBtn,.edit .delBtn{display:none;}
.edit span{display: none;}
.fixed .edit input{display:inline-block;}
.fixed input{display: none;}
.hidden{display: none;}